*{
  color:#ea2228;
}
.logo {
  max-width: 150px;
  max-height: 150px;
  position: absolute;
  top: 9px;
  left: 12px;
}
.container__menu-bar > ul{
  display: flex;
  flex-direction: row;
}

.container__menu-bar > ul > li{
  margin-right: 20px;
  list-style: none;
}

