<div class="container__menu-bar">
 <img class="logo" src="https://www.freepnglogos.com/uploads/marvel-logo-png/new-marvel-studios-logo-debuted-marvelstudios-3.png" alt="Marvel Logo">
  <ul>
    <li><a href="https://www.linkedin.com/in/ricardojs--/" target="_blank">Linkedin</a></li>
    <li><span>•</span></li>
    <li><a href="https://github.com/ricardojs122" target="_blank">Github</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.dio.me/users/rmelo886" target="_blank">Dio</a></li>
  </ul>
</div>
