/* styles.css */
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Bebas Neue';
}

a {
  text-decoration: none;
}

body {
  background-color: #111111;
}
